BIKE_API_URL=https://data.explore.star.fr/api/explore/v2.1/catalog/datasets/vls-stations-etat-tr/records
BIKE_API_LIMIT=100
WEATHER_URL=https://www.meteoart.com/europe/france/brittany/rennes?page=today
WEATHER_CITY=Rennes

RAW_DATA_DIR=./data/raw
PROCESSED_DATA_DIR=./data/processed
EDA_OUTPUT_DIR=./data/eda
RAW_BIKE_FILENAME=star_bikes_raw.parquet
RAW_WEATHER_FILENAME=weather_scraped_raw.parquet
SPARK_APP_NAME=big-data-velostar-weather

ENABLE_HDFS=false
HDFS_RAW_DIR=/datalake/raw/velostar
HDFS_PROCESSED_DIR=/datalake/processed/velostar

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=velostar_lakehouse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SCHEMA=public
POSTGRES_TABLE=star_bikes_weather

STREAMLIT_SERVER_PORT=8501
